cycler==0.10.0
Cython==3.0.11
decorator==5.1.1
dill==0.3.4
javabridge==1.0.19
joblib==0.14.1
kiwisolver==1.1.0
lxml==5.0.2
matplotlib==3.0.3
multiprocess==0.70.5
networkx==1.11
numpy==1.16.5
pandas==0.25.3
pathos==0.2.0
phply==1.2.6
ply==3.11
pox==0.3.0
ppft==1.6.6.4
pyparsing==2.4.7
python-dateutil==2.9.0.post0
python-weka-wrapper==0.3.18
pytz==2025.1
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.17.0
unidiff==0.7.5
